/* MullerLight */
@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/MullerLight.woff2') format('woff2'), 
       url('../fonts/MullerLight.woff') format('woff');
}
/* MullerRegular */
@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MullerRegular.woff2') format('woff2'),
       url('../fonts/MullerRegular.woff') format('woff');
}
/* MullerMedium*/
@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/MullerMedium.woff2') format('woff2'), 
       url('../fonts/MullerMedium.woff') format('woff');
}
/* MullerBold*/
@font-face {
  font-family: 'Muller';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/MullerBold.woff2') format('woff2'), 
       url('../fonts/MullerBold.woff') format('woff');
}

:root {
  --color-orange: #CC9933;
  --color-white: #FFFFFF;
  --color-gray: #999999;
}

* {
 box-sizing: border-box;
}
html {
  font-family: 'Muller', sans-serif;
}
body {
  background-color:  #F1F1F1;
}
a {
  text-decoration: none;
  transition-property: color font-size;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
a:hover {
  cursor: pointer;
  font-size: 18px;
  color: orange;
}
p{
  margin: 0;
  font-size: 16px;
  line-height: 200%;
  font-weight: 400;
  color: #000000;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  max-width:100%;
}
.container{
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}  
.section-heading {
  display: block;

  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 40px;
  font-size: 40px;
  line-height: 1;
  font-weight: 400; 
  color: #333333;
}
.btn{
  font-size: 16px;
  line-height: 1;
  font-weight: 400;
  padding: 13px 20px;
  background-color: var(--color-white);
  color: var(--color-orange);
  border: 2px solid #CC9933;
  border-radius: 15px;
  transition-property: color background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease;
}
.btn:hover{
  cursor: pointer;
  color: white;
  background-color:  var(--color-orange);
}
.section-link{
  color: #F0BF5F;
}
.section-rectangle {
  transform: translateY(4px);
}

  /*Header*/
  .header-initial-container {
    display: flex;
    justify-content:space-between; 
    align-items: center;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .header-initial-left{
    display: flex;
    align-items: center;
  }
  .header-initial-left-logo{
    margin-right: 40px;
  }
  .header-initial-left-link {
    font-size: 20px;
    line-height: 20px;
    font-weight: 500;
    color: #666666;
  }
  .header-initial-right-img {
    margin-right: 3px;
  }
  .header-initial-right-cabinet{
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    color: var(--color-orange);
  }
  .header-navigation-container {
    display: flex;
    height: 70px;

    padding-right: 45px;
    justify-content:space-between;  
    align-items: center;
    margin-bottom: 70px;
    background-color: var(--color-white);
    outline: 1px solid var(--color-white);
    border-radius: 15px;
  }
  .header-nav-list {
    display: flex;
    justify-content:space-evenly;  
  }
  .header-nav-item {
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    padding-left: 45px;
  }
  .header-nav-link{
    color: #666666;
  }
  .header-navigation-btn:not(:last-child){
    margin-right: 54px;
  }
  
  /*Special*/
.section-special-left-top, .section-special-left-buttom {
  justify-content: stretch;
  max-width: 573px;
  max-height: 258px;
  padding: 40px 108px 40px 45px;
  border-radius: 15px;
}
.section-special-left-heading{
  position: relative;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  color: var(--color-white);
  z-index: 1;
}
.section-special-left-price {
  position: relative;
  margin-top: 15px;
  margin-bottom: 47px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: var(--color-white);
  z-index: 1;
}
.section-special-podrobney {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}
.section-special-left-top {
  position: relative;
  background: url('/img/spec-maldives.png') right center no-repeat #E5E5E5;
  background-size: contain;
  }
 .section-special-left-top::before{ 
  content: '';
	display: block;
  position: absolute;
	width: 50%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
  border-radius: 15px;
  z-index: 0;
}
.section-special-left-buttom {
  position: relative;
  background: url('/img/spec-crit.png') right center no-repeat #E5E5E5;
  background-size: contain;
}
.section-special-left-buttom::before{ 
  content: '';
	display: block;
  position: absolute;
	width: 50%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%);
  border-radius: 15px;
  z-index: 0;
}
.section-speciall-addblock{
  display: flex;
  align-items:stretch;
  margin-bottom: 70px;
}
.section-special-left{
  flex: 1 1 50%;
  margin-right: 24px;
  align-items: stretch;
  max-width: 573px;
  max-height: 540px;
}
.section-special-left-top {
    margin-bottom: 24px;
}
.section-special-right{
    flex: 1 1 50%;
    align-items:stretch;
    justify-content: stretch;
    max-width: 573px;
    max-height: 540px;
    padding: 212px 229px 40px 45px;
    background: url('/img/spec-luks.png') right center no-repeat #E5E5E5;
    background-size: contain;
    border-radius: 15px;
}
.section-special-right-heading {
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: var(--color-white);

}
.section-special-right-price {
  padding-top: 15px;
  padding-bottom: 47px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  color: var(--color-white);
}
.section-special-podrobney {
position: relative;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  z-index: 1;
}

/*About*/
.section-about {
    margin-bottom: 70px;  
}
.section-about-text {
  max-width: 888px;
}

/*Uslugi*/
.section-uslugi {
    margin-bottom: 70px;  
}
.section-uslugi-list{
    display: flex;
    flex-wrap: wrap;
}
.section-uslugi-item {
    flex: 1 1 48%;
    margin-bottom: 24px; 
    padding-top: 191px;
    padding-left: 45px;
    padding-right: 126px;
    padding-bottom: 35px;
    border-radius: 15px;
    background: #FFFFFF; 
}
.section-uslugi-item:not(:nth-child(2n)) {
    margin-right: 24px;
}
.section-uslugi-bold {
  font-size: 20px;
  line-height: 200%;
  font-weight: 500;
}
.section-uslugi-item-first {
  background: url('/img/uslugi-obls.png') left top no-repeat #FFFFFF;
  background-size: contain;
}
.section-uslugi-item-second {
  background: url('/img/uslugi-arenda.png') left top no-repeat #FFFFFF;
  background-size: contain;
}
.section-uslugi-item-third {
  background: url('/img/uslugi-saun.png') left top no-repeat #FFFFFF;
  background-size: contain;
}
.section-uslugi-item-fourth {
  background: url('/img/uslugi-stoyanka.png') left top no-repeat #FFFFFF;
  background-size: contain;
}

/*Preimushestva*/
.section-preimushestva {
    margin-bottom: 70px; 
}
.section-preimushestva-list {
    display: flex;
    flex-wrap: wrap;

}
.section-preimushestva-item {
    flex: 0 1 23%;
    margin-bottom: 22px; 
    padding: 40px 42px 32px 45px;  
    background: #FFFFFF;
    border-radius: 15px;
}
.section-preimushestva-item:not(:nth-child(4n)) {
    margin-right: 22px;
}
/*Razmeshenie*/
.section-razmeshenie {
  margin-bottom: 70px; 
}
.section-razmeshenie-list {
    display: flex;
    flex-wrap: wrap;
    
}
.section-razmeshenie-item{
  flex: 1 1 31%;
  max-width: 374px;
  min-height: 440px;
  margin-bottom: 24px;

  background: #FFFFFF;
  border-radius: 15px; 
}
.section-razmeshenie-item:not(:nth-child(3n)) {
  margin-right: 24px;
}
.section-razmeshenie-img {
  margin-bottom: 32px;
}
.section-razmeshenie-description {
  padding-left: 45px;
  padding-bottom: 35px;
}
.section-razmeshenie-string{
  display: flex;
  justify-content:space-between;
  margin-bottom: 16px;
}
.section-razmeshenie-first {
  padding-right: 4px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: var(--color-gray);
}
.section-razmeshenie-price {
  padding-right: 4px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}
.section-razmeshenie-count {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}
.section-razmeshenie-reiting {
  padding-right: 45px;
}
.section-razmeshenie-hotelname {
  margin-bottom: 16px;
  line-height: 16px;
}
.section-razmeshenie-location {
  margin-bottom: 20px;
  line-height: 16px;
  color: var(--color-gray)
}
.section-razmeshenie-other {
  position: relative;
  background: url('/img/razmesh-dop.png') left top no-repeat var(--color-white);
  background-size: contain;
}
.section-razmeshenie-variaty {
  display: inline-block;
  padding-top: 373px;
  padding-left: 54px;
  font-size: 20px;
  line-height: 200%;
  font-weight: 500;
  color: var(--color-white);
}
.section-razmeshenie-variaty::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.section-razmeshenie-rectangle {
  display: inline;
  transform: translate(4px, 4px);
  color: var(--color-white);
}

/*Form*/
.form-container{
  padding: 45px;
  background: #E9E9E9;
  border-radius: 15px;
  margin-bottom: 70px;
}
.form-main{
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 15px;
  padding-top: 31px;
  padding: 30px 28px;
}
.form-item{
  display: flex;
  flex-direction: column;
  flex: 0 0 12%;
}
.form-input{
  border: 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
}
.form-input-underline {
  border-bottom: 1px solid #E9E9E9;;
}
.form-title{
  margin-left: -45px;
}
.btn-form{
  padding-left: 30px;
  padding-right: 30px;
  margin-left: 20px;
}
.form-text {
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  margin-bottom: 15px;
}

/*Contacts*/
.section-contacts-contactbox {
  display: flex;
  justify-content: space-between;
  padding: 45px;
  margin-bottom: 40px;
  background: #FFFFFF;
  border-radius: 15px;
}
.contactbox-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 375px;
  max-height: 528px;
  flex: 0 0 35%;
}
.contactbox-left-top-row {
  display: flex;
  margin-bottom: 25px;
  border-bottom: 1px solid  #E9E9E9;
}
.contactbox-left-top-row-column {
  max-width: 230px;
}
.contactbox-strongtext {
  min-width: 130px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}
.contactbox-text{
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}
.contactbox-mail-info {
  font-size: 16px;
line-height: 24px;
font-weight: 400;
color: var(--color-gray);
}
.contactbox-right{
  align-self: self-end;
}

/* Footer */
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 341px;
  padding: 45px;
  margin-bottom: 10px;
  background: url('/img/sun.svg') bottom right 176px no-repeat #333333;
  border-radius: 15px;
  
}
.footer-initial-container-left{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 28%;
}
.footer-initial-container-center {
  flex: 0 0 40%;
}
.footer-initial-container-right {
  display: flex;
  flex-direction: column;
}
.footer-text {
  font-size: 16px;
  line-height: 190%;
  font-weight: 400;
  color: var(--color-white);
}
.footer-container-left-element{
 flex: 0 1 40%; 
}
.footer-container-center-element {
  margin-bottom: 15px;
}
.footer-adress {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
  color: var(--color-white);
}
.footer-container-right-element {
  margin-bottom: 20px;
}